<div class="container">
	<div class="row justify-content-center">
		<div class="col-10">
			<%= render "shared/errors",obj: @article %>
			<%= form_with(model: @article, class: "shadow p-3 mb-3 bg-warning rounded", local: true) do |f| %>
				<div class="form-group row m-3">
					<%= f.label :title, class: "col-lg-2 col-12 col-form-label text-dark" %>
					<div class="col-10">
						<%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title of article" %>
					</div>
				</div>

				<div class="form-group row m-3">
					<%= f.label :description, class: "col-lg-2 col-12 col-form-label" %>
					<div class="col-10">
						<%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Description of article" %>
					</div>
				</div>

				<div class="form-group row m-3">
					<%= f.label :Category, class: "col-lg-2 col-12 col-form-label" %>
					<div class="col-10">
						<%= f.collection_check_boxes( :category_ids, Category.all, :id, :name) do |cb| %>
							<% cb.label(class: "checkbox-inline input_checkbox m-2") {cb.check_box(class: "checkbox m-1") + cb.text } %>
						<% end %>
            <div class="col-10">
              <input type="hidden" name="article[category_ids][]" value="" /><label class="checkbox-inline input_checkbox m-2"
                for="article_category_ids_1"><input class="checkbox m-1" type="checkbox" value="1" name="article[category_ids][]"
                  id="article_category_ids_1" />Sports</label><label class="checkbox-inline input_checkbox m-2"
                for="article_category_ids_2"><input class="checkbox m-1" type="checkbox" value="2" name="article[category_ids][]"
                  id="article_category_ids_2" />Physical fitness</label><label class="checkbox-inline input_checkbox m-2"
                for="article_category_ids_3"><input class="checkbox m-1" type="checkbox" value="3" name="article[category_ids][]"
                  id="article_category_ids_3" />Lifestyle</label><label class="checkbox-inline input_checkbox m-2"
                for="article_category_ids_4"><input class="checkbox m-1" type="checkbox" value="4" name="article[category_ids][]"
                  id="article_category_ids_4" />Food</label><label class="checkbox-inline input_checkbox m-2"
                for="article_category_ids_5"><input class="checkbox m-1" type="checkbox" value="5" name="article[category_ids][]"
                  id="article_category_ids_5" />Fashion</label><label class="checkbox-inline input_checkbox m-2"
                for="article_category_ids_6"><input class="checkbox m-1" type="checkbox" value="6" name="article[category_ids][]"
                  id="article_category_ids_6" />Music</label><label class="checkbox-inline input_checkbox m-2"
                for="article_category_ids_7"><input class="checkbox m-1" type="checkbox" value="7" name="article[category_ids][]"
                  id="article_category_ids_7" />Finance</label><label class="checkbox-inline input_checkbox m-2"
                for="article_category_ids_8"><input class="checkbox m-1" type="checkbox" value="8" name="article[category_ids][]"
                  id="article_category_ids_8" />Political</label><label class="checkbox-inline input_checkbox m-2"
                for="article_category_ids_9"><input class="checkbox m-1" type="checkbox" value="9" name="article[category_ids][]"
                  id="article_category_ids_9" />Parenting</label><label class="checkbox-inline input_checkbox m-2"
                for="article_category_ids_10"><input class="checkbox m-1" type="checkbox" value="10" name="article[category_ids][]"
                  id="article_category_ids_10" />Business</label><label class="checkbox-inline input_checkbox m-2"
                for="article_category_ids_11"><input class="checkbox m-1" type="checkbox" value="11" name="article[category_ids][]"
                  id="article_category_ids_11" />Personal</label><label class="checkbox-inline input_checkbox m-2"
                for="article_category_ids_12"><input class="checkbox m-1" type="checkbox" value="12" name="article[category_ids][]"
                  id="article_category_ids_12" />Travel</label><label class="checkbox-inline input_checkbox m-2"
                for="article_category_ids_13"><input class="checkbox m-1" type="checkbox" value="13" name="article[category_ids][]"
                  id="article_category_ids_13" />Nishi Fun</label><label class="checkbox-inline input_checkbox m-2"
                for="article_category_ids_14"><input class="checkbox m-1" type="checkbox" value="14" name="article[category_ids][]"
                  id="article_category_ids_14" />Fun</label>
            </div>
					</div>
				</div>

				<div class="justify-content-center">
					<%= f.submit class: "btn btn-success btn-lg" %>
				</div>
			<% end %>
			<%= link_to 'Cancel', articles_path, class: "btn btn-danger" %>
		</div>
	</div>
</div>
